GitHubProject/GitHubProject.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
*.swp
*~.nib

build/

*.mode1v3
*.mode2v3

xcuserdata

*.pbxuser
*.perspective
*.perspectivev3

__pycache__


samples/YouMiWallSample/YouMiWallSample.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

samples/YouMiWallSample/YouMiWallSample.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

GitHubProject/confuse/publicHeader.h

GitHubProject/GitHubProject.xcodeproj/project.xcworkspace/xcshareddata/GitHubProject.xccheckout

GitHubProject/symbols.json

lib/publicHeader.h

lib/GitHubProjectStatic.a

GitHubProject/symbols.h

GitHubProject/symbols

GitHubProject/confuse/innerconfuse.h

samples/YouMiWallSample/YouMiWallSample.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate


HuaiNanVideoSDK/HuaiNanVideoSDK.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

HuaiNanVideoSDK/HuaiNanVideoSDK.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

lib/publicHeader.h

HuaiNanVideoSDK/confuse/publicHeader.h

HuaiNanVideoSDK/confuse/innerconfuse.h

samples/YouMiWallSample/YouMiWallSample.xcodeproj/project.xcworkspace/xcuserdata/chenjianfeng.xcuserdatad/UserInterfaceState.xcuserstate

HuaiNanVideoSDK/confuse/innerconfuse.h

HuaiNanVideoSDK/confuse/publicHeader.h

lib/huaiNanVideoSDK.a

HuaiNanVideoSDK/HuaiNanVideoSDK.xcodeproj/xcuserdata/chenjianfeng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

lib/publicHeader.h

lib/include/CocoBVideo.h

HuaiNanVideoSDK/confuse/publicHeader.h

HuaiNanVideoSDK/confuse/innerconfuse.h

HuaiNanVideoSDK/build/HuaiNanVideoSDK.build/Release-iphoneos/merge.build/dgph

lib/publicHeader.h

HuaiNanVideoSDK/confuse/publicHeader.h

HuaiNanVideoSDK/confuse/innerconfuse.h

HuaiNanVideoSDK/build/HuaiNanVideoSDK.build/Release-iphoneos/merge.build/dgph

HuaiNanVideoSDK/HuaiNanVideoSDK.xcodeproj/xcuserdata/chenjianfeng.xcuserdatad/xcschemes/merge.xcscheme

HuaiNanVideoSDK/HuaiNanVideoSDK.xcodeproj/xcuserdata/chenjianfeng.xcuserdatad/xcschemes/package.xcscheme

*.xcscheme

HuaiNanVideoSDK/confuse/HNHeader.h

lib/HNHeader.h

scripts/generate_doc/doc_elements_merger.pyc
